[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytz = "*"
boto3 = "*"
environ = "*"
djangorestframework = "*"
python-dotenv = "*"
collectfast = "*"
psycopg2 = "*"
django-cors-headers = "==3.13.0"
python-dateutil = "==2.8.2"
drf-jwt = "==1.19.2"
cryptography = "==39.0.1"
django-cognito-jwt = "==0.0.4"
typing-extensions = "==4.4.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
